header{
  background-color: #f8f9fc;
  font-family: arial;
  padding: 40px;
}

body{
  background-color: #f8f9fc;
  font-family: Arial, sans-serif;
  color: #333;
/*  min-height: 400px;*/
/*  margin-bottom: 100px;*/
  padding-bottom: 2.5rem;
  clear: both;
  height: auto;
  position: relative;
  min-height: 100%;
}

main {
  flex-grow: 1;
  padding: 40px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #888;
}



footer {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
/*  height: 50px;*/
}

.container{
  text-align: center;
}

.markers{
  stroke: #000;
  stroke-width: 0.5px;
}



div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 60px;					
  height: 28px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}


/* Global styles */

.container {
  display: flex;
}


.sidebar {
  background-color: #ccc;
  color: #000;
  width: 200px;
  height: 100vh;
  padding: 20px;
  transition: transform 0.3s ease-out;
  transform: translateX(200px);
}

.sidebar:hover {
  transform: translateX(0);
}

.logo h1 {
  margin: 0;
}


.project_preview:hover {
  opacity: 0.5;
}

.social-icons {
/*  margin-top: 20px;*/
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #888;
}

.social-icons a:hover {
  color: #333;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}



iframe {
  width: 100%;
  height: 500px;
  border: none;
}

input[type="text"] {
  width: 400px;
  padding: 10px;
  font-size: 16px;
}


button {
  display: inline-block;
/*      height: 500px;*/
  background-color: #333;
  color: #f8f9fc;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #888;
}



.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #eee;
  margin-top: 20px;
}

.progress-bar .progress {
  height: 100%;
  background-color: #F7B93E;
  width: 0;
  transition: width 10s linear;
}

.spinning-wheel {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.spinning-wheel:before {
  content: "";
  display: inline-block;
  border: 2px solid #F7B93E;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}